<div>
    <span><input type="button" value="0" class="btn" [ngClass]="(item.rating == 0) ? 'btn-primary' : 'btn-default'" (click)="onRatingChange(item,0)" /></span>
    <span><input type="button" value="1" class="btn" [ngClass]="(item.rating == 1) ? 'btn-primary' : 'btn-default'" (click)="onRatingChange(item,1)" /></span>
    <span><input type="button" value="2" class="btn" [ngClass]="(item.rating == 2) ? 'btn-primary' : 'btn-default'" (click)="onRatingChange(item,2)" /></span>
    <span><input type="button" value="3" class="btn" [ngClass]="(item.rating == 3) ? 'btn-primary' : 'btn-default'" (click)="onRatingChange(item,3)" /></span>
    <span><input type="button" value="4" class="btn" [ngClass]="(item.rating == 4) ? 'btn-primary' : 'btn-default'" (click)="onRatingChange(item,4)" /></span>
    <span><input type="button" value="5" class="btn" [ngClass]="(item.rating == 5) ? 'btn-primary' : 'btn-default'" (click)="onRatingChange(item,5)" /></span>
</div>